.flag {
  width: 32px;
  vertical-align: middle;
}
.vertical-align-middle {
  vertical-align: middle;
}
ul {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;

  li {
    padding: 2px 0;
  }
}
